:root {
    --Red: hsl(14, 86%, 42%);
    --Green: hsl(159, 69%, 38%);
    --Rose-1: hsl(20, 50%, 98%);
    --Rose-2: hsl(13, 31%, 94%);
    --Rose-3: hsl(14, 25%, 72%);
    --Rose-4: hsl(7, 20%, 60%);
    --Rose-5: hsl(12, 20%, 44%);
    --Rose-6: hsl(14, 65%, 9%);
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--Rose-1);
    margin: 0;
    padding: 80px;
}

.products {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 900;
}

.product-card {
    width: 800px;
    display: grid;
    gap: 20px;
    position: relative;
}

.product-info img, .desserts-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.add-to-cart-btn {
    background-color: var(--Rose-1);
    border: 1px solid var(--Rose-5);
    position: absolute;
    top: 330px;
    left: 50px;
    padding: 8px 13px;
    border-radius: 25px;
    color: var(--Rose-6);
    font-size: 14px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.product-info h3 {
    font-size: 16px;
    margin: 8px 0 4px;
}

.item-name {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: var(--Rose-5);
}

.item-price {
    margin: 0;
    color: var(--Red);
    font-size: 16px;
    font-weight: 700;
}

.cart {
    width: 280px;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
}

.cart h3 {
    color: var(--Red);
    font-weight: 800;
}

.cart p {
    color: var(--Rose-4);
    font-weight: 600;
}
